@layer utilities {
  input:not([type='checkbox'],[type='radio']) {
    @apply w-full h-full block text-black outline-0;
    padding: 0 16px;
    background: none;

    &::placeholder {
      @apply text-gray-97;
    }

  }

  input:focus {
   //background-color: var(--dynamic-color)!important;
    background-color: white !important;
    color: black!important;
    font-family: neueMedium, sans-serif;
  };

  .input-field {
    border: 1px solid;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06) !important;
    @apply h-44 rounded-4 overflow-hidden  border-gray-97 border-opacity-50 bg-none;
    &-date {
      @apply flex justify-between items-center;
      padding-right: 16px;

      &:after {
        content: "";
        display: flex;
        flex-basis: 23px;
        width: 23px;
        height: 23px;
        background: url("../../images/icons/calendar.svg") center no-repeat;
        background-size: 20px;
      }
    }

    &-password {
      @apply flex justify-between items-center;
      padding-right: 16px;

      button {
        flex-basis: 24px;

        svg.hide {
          @apply hidden;
        }
      }
    }

    &-validated {
      &_error {
        @apply border-error flex justify-between items-center;
        padding-right: 16px;

        &:after {
          content: "";
          display: flex;
          flex-basis: 35px;
          width: 23px;
          height: 23px;
          background: url("../../images/icons/error-sign.svg") center no-repeat;
          background-size: 20px;
          margin-left: 12px;
        }
      }
    }
  }
}
