@layer base {
  @font-face {
    font-family: 'neueNormal';
    src: url('../fonts/HelveticaNeueLTPro-Roman.eot');
    src: url('../fonts/HelveticaNeueLTPro-Roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTPro-Roman.woff2') format('woff2'),
    url('../fonts/HelveticaNeueLTPro-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeueLTPro-Roman.ttf')  format('truetype'),
    url('../fonts/HelveticaNeueLTPro-Roman.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;

  }
  @font-face {
    font-family: 'neueMedium';
    src: url('../fonts/HelveticaNeueLTPro-Md.eot');
    src: url('../fonts/HelveticaNeueLTPro-Md.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTPro-Md.woff2') format('woff2'),
    url('../fonts/HelveticaNeueLTPro-Md.woff') format('woff'),
    url('../fonts/HelveticaNeueLTPro-Md.ttf')  format('truetype'),
    url('../fonts/HelveticaNeueLTPro-Md.svg#svgFontName') format('svg');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'neueBold';
    src: url('../fonts/HelveticaNeueLTPro-Bd.eot');
    src: url('../fonts/HelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTPro-Bd.woff2') format('woff2'),
    url('../fonts/HelveticaNeueLTPro-Bd.woff') format('woff'),
    url('../fonts/HelveticaNeueLTPro-Bd.ttf')  format('truetype'),
    url('../fonts/HelveticaNeueLTPro-Bd.svg#svgFontName') format('svg');
    font-weight: 500;
    font-style: normal;
  }
}
