<div class="z-0  fixed top-0 bottom-0 w-[17%] pl-5 bg-w box-shadow">

  <div class="background-image"
       [ngClass]="(isScrolledDown() > 49)?'logoGrowingEffect':'invisible'"
       [ngStyle]="{'background-image': 'url(assets/images/logos/logo.png)'}"></div>
  <div class="flex flex-col justify-start items-start side-nav-bar">
    <a class="">
      მთავარი
      <span class="material-symbols-outlined">home</span>
    </a>
    <a>
      სიახლეები
      <span class="material-symbols-outlined">newspaper</span>
    </a>
    <a>
      შვებულებები
      <span class="material-symbols-outlined">holiday_village</span>
    </a>
    <a>
      შეტყობინება
      <span class="material-symbols-outlined">notifications_active </span>
    </a>

  </div>

</div>

