<section class="w-full flex justify-center items-center  ">
  <div class="relative mt-64 w-1/4 h-[300px] ">
    <div class=" rounded-4 box-shadow login-container absolute top-0 left-0 right-0 bottom-0 z-10 ">
      <h3 class="text-left font-neueBold size-4 text-2xl">Login</h3>
      <div class="w-full h-fit flex flex-col  mt-6">
        <div class=" flex-col   w-full">
          <div class="w-full !h-10 input-field ">
            <input id="userName" type="text" placeholder="User name">
          </div>
        </div>

        <div class=" flex-col w-full mt-8">
          <div class="w-full !h-10  input-field ">
            <input id="password" type="password" placeholder="Password" >
          </div>
        </div>
        <div class="flex justify-center pt-4">
          <button class="btn_primary w-[127px] h-[36px]">Login</button>
        </div>

      </div>
    </div>
    <div class="background-image " [ngStyle]="{'background-image': 'url(assets/images/logos/logo.png)'}"></div>
  </div>

</section>
