<app-header/>

<div class=" pr-5 h-[100vh] w-full text-center  ">
  <div class="flex justify-between relative">
    @if (!activeUrl()?.includes('login')) {
      <div class="absolute left-0 " >
        <app-side-bar [isScrolledDown]="scrollPosition"/>
      </div>
    }
    <div class="absolute left-[18%] right-0">
      <router-outlet/>
    </div>
  </div>
  @if (showLoader) {
    <app-loader/>
  }
</div>




<!--    <div >-->
<!--      <app-side-bar/>-->
<!--    </div>-->
<!--    <div >-->
<!--      <router-outlet/>-->
<!--    </div>-->
<!--    <h1>please choose color for your company</h1>-->
<!--    <input class="!h-[50px] !w-[100px]" #color type="color" (change)="setDinamycColor(color.value)">-->

<!--  <div class="flex justify-center">-->
<!--    <h1>buttons</h1>-->
<!--    <button class="btn_primary w-[127px] h-[36px]">Primary</button>-->
<!--    <button class="btn_secondary w-[127px] h-[36px] mx-2">Secondary</button>-->
<!--    <button class="btn_delete w-[127px] h-[36px]">Deleted</button>-->
<!--    <button class="btn_primary w-[127px] h-[36px] ml-1">add new<span class="material-symbols-outlined ml-2">add</span>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class=" flex-col justify-center align-middle pt-32 w-full">-->
<!--    <h1 class="text-center">inputs</h1>-->
<!--    <div class="w-full !h-10 sm:w-7/12 lg:w-6/12 input-field ">-->
<!--      <input type="text" placeholder="Text">-->
<!--    </div>-->
<!--    <br>-->
<!--    <div class="w-full !h-10 sm:w-7/12 lg:w-6/12 input-field input-field-date">-->
<!--      <input type="text" placeholder="Date">-->
<!--    </div>-->
<!--    <br>-->
<!--    <div class="w-full !h-10 sm:w-7/12 lg:w-6/12 input-field input-field-password">-->
<!--      <input type="password" placeholder="password">-->
<!--    </div>-->
<!--    <br>-->
<!--    <div class="w-full !h-10 sm:w-7/12 lg:w-6/12 input-field input-field-validated_error">-->
<!--      <input type="text" placeholder="Error">-->
<!--    </div>-->
<!--  </div>-->




